.list{
    display: inline-block;
    width: 900px;
}
hr[class="null"]{
    background-color: #E1E1E1;
    border: none;
    margin: 20px;
    width: 100%;
    height: 0px;
}
.list hr{
    background-color: #E1E1E1;
    border: none;    
    height: 2px;
    margin: 2px;
}
.thumb_set{
    position: relative;
    display: inline-flex;
    flex-flow: column;
    width:  125px;
    height: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.thumb_set a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image_cell{
    display: block;
    height: 90px;
    width: 90px;
    margin: 4px auto;
    border-radius: 5px;
    border: 1px solid #988989;
    background-color: #F5F2F2;
}
.image_cell img{
    display: block;
    object-fit: contain;
    width: 100%;
}
.info_cell{
    display: block;
    height: 24px;
    width: 100%;
    box-sizing: border-box;
}
.info_cell p{
    display: block;
    margin: 1px;
    line-height: 18px;
    font-size: 10px;
}
.act_butts{
    cursor: default;
}
.act_butts .vertical{
    display: inline-flex;
    flex-direction: row;
}

.act_butts button{
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin: 1px;
    z-index: 99;
}

.act_butts .vertical button{
    width: 50px;
}