/* CSS Document */
aa:hover {
    opacity: 0.6;
    filter: brightness(60%) blur(1px);
}    
.hovered {
    /**opacity: 0.6;
    filter: brightness(70%);*/
    background-color: #F9F2B3;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #F9F9F9), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #F9F9F9), color-stop(.75, #F9F9F9), color-stop(.75, transparent), to(transparent));
    -webkit-background-size: 7px 7px;
}
.hovered img {
    opacity: 0.6;
    filter: brightness(70%);
}